nav.navbar{
  justify-content: flex-end;
}
nav.navbar a {
  color: #000;
  font-weight: 600;
  font-size: 17px;;
}
.navbar-brand{
  font-size: 40px !important;
  position: fixed;
  z-index: 3;
  top: 6px;
  left: 36px;
}
img{
  width: 100%;
}